@import "../../../../__assets__/styles/sassResources";

.cardAvatar {
    background-color: $secondaryMain;
}

.cardHeader {
    font-family: $bodyTypeface !important;
}

.heading {
    margin: 0.5em 0 1em;
}

.empty {
    color: $baseTextLight;
}

.emptyIcon {
    margin-right: 0.25em;
}
