@section Scripts {
	<script src="~/js/admin.js" type="text/javascript"></script>
	<script src="~/js/schedule.js" type="text/javascript"></script>
}

<style>
	td {
		border-top: 1px solid grey;
		border-left: 1px solid grey;
	}

	.schedule {
		border: 1px solid grey;
	}

	.activity {
	}

	button {
		cursor: pointer;
	}

	button[name='apply'] {
		width: 120px;
	}

	button[name='unapply'] {
		width: 120px;
		background-color: green;
	}

	.active {
		width: 120px;
	}
</style>

<div id="main"></div>