<div id="menu">
	<span><a href="/dashboard">Home</a></span>
	<span id="nav_calendars"><a href="/admin/calendar">Calendars</a></span>
	<span id="nav_events"><a href="/admin/event">Events</a></span>
	<span id="nav_activities"><a href="/admin/activity">Activities</a></span>
	<span id="nav_openings"><a href="/admin/opening">Openings</a></span>
	<span id="nav_participants"><a href="/admin/participant">Participants</a></span>
	<span id="nav_questions"><a href="/admin/question">Questions</a></span>
</div>