@import "../../../../__assets__/styles/sassResources";

.progressWrap {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
}

.circProgress {
    position: absolute;
    top: 40%;
}

.header {
    align-items: center;
    display: flex;
    height: 4.5em;
    padding: 0.25em 0 0.75em;
}

.leftWrap {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-left: 0.1em;
}

.rightWrap {
    padding: 0.25em 0.5em 0;
}

.heading {
    margin: 0.5em 0 1em;
}

.fullScreenButton {
    margin: -0.15em 0.1em 0 0;
}

.accountDot {
    border-radius: 50%;
    display: inline-block;
    height: 9px;
    margin-right: 0.35em;
    position: relative;
    width: 9px;
}

.allHeading {
    font-size: 115%;
    font-weight: 600;
    text-transform: uppercase;
}

.accountNameWrap {
    line-height: 0.8em;
}

.accountName {
    color: lighten($primaryMid, 10%);
    font-size: 0.75em;
    text-transform: uppercase;
}

.pickerField {
    font-size: 90%;
    margin-left: 1em;
    max-width: 9em;
}

.inputAdornment button {
    padding: 0 0 4px !important;
}

.pickerAdornment {
    font-size: 0.9em;
}

.scheduleHeading {
    font-size: 1em;
    margin: 1.5em 1.5em 1em;
}

.card {
    overflow-x: auto;
}

.table {
    position: relative;
    table-layout: fixed;
}

.tableHead {
    background-color: $primaryMain;
    display: table;
    position: absolute;
    table-layout: fixed;
    top: 0;
    width: 100%;
}

.tableHead.fixed {
    position: fixed;
    width: calc(100% - 1em);
    z-index: 10;
}

.tableHeadPlaceholder {
    display: block;
    height: 56px;
}

.headerRow {
    text-transform: uppercase;
}

.headerCell {
    color: $baseBackground;
    padding: 0.5em 1.5em;
}

.dateCol {
    width: 86px;
}

.tableCell,
.dateCell {
    border: 0;
    padding: 0.5em 1.5em;
}

.dateCell {
    border: 0;
    color: $baseBackground;
    width: 9%;
}

.tableRow:nth-child(even) {
    background-color: $primaryLight;
}

.opening {
    align-items: center;
    display: flex;
}

.overflowWrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.openingWithName {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    text-overflow: ellipsis;
}

.progressWrapper {
    position: relative;
}

.openingProgressIconButton,
.openingProgressTextButton,
.openingProgressUnapplyButton {
    color: $secondaryMid;
    position: absolute;
}

.openingProgressIconButton {
    left: 0.8em;
    top: 0.8em;
}

.openingProgressTextButton {
    left: 0.35em;
    top: 0.7em;
}

.openingProgressUnapplyButton {
    right: -8px;
    top: -6px;
    z-index: 1;
}

.applyButton,
.applyIconButton {
    font-size: 0.9em;
}

.applyButton {
    margin: 0.25em 0;
    padding: 0 0.75em 0 0.35em;
    white-space: nowrap;

    .applyButtonIcon {
        margin-right: 0.1em;
    }

    &:disabled {
        color: $baseText;
    }
}

.applyIconButton {
    margin: 0.2em;
    padding: 0.7em;
}

.applyButtonIcon {
    color: $secondaryMain;
}

.applyButtonIcon {
    font-size: 1.8em;
}

.applyButtonContent {
    align-items: center;
    display: flex;
}

.openingTitle {
    display: inline-block;
    font-style: italic;
    margin-left: 0.5em;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100% - 3.5rem);
}

.editableTitleWrap {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.editableTitleIcon {
    color: inherit;
    font-size: 1.1em;
    margin-right: 0.25em;
    transition: color $uiTransitionDuration $uiTransitionFunction;
}

.editableTitle {
    border-bottom: 1px dotted;
    transition: border-bottom $uiTransitionDuration $uiTransitionFunction;
}

.titleButton {
    display: block;
    padding: 0;
    text-align: left;
    text-transform: none;
    width: 100%;

    &:hover,
    &:active,
    &:focus {
        background: transparent;
    }

    &:hover,
    &:active {
        .editableTitle {
            border-bottom: 1px dotted $secondaryMain;
        }

        .editableTitleIcon {
            color: $secondaryMain;
        }
    }
}

.nameWithAvatar {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.avatarWrap {
    display: inline-block;
    margin: 0.5em 0.25em;
    position: relative;
}

.avatar {
    margin: 0.25em 0;
}

.avatarTooltip {
    font-size: 0.75rem;
}

.unapplyButton {
    color: darken($baseTextLight, 20%);
    padding: 0;
    position: absolute;
    right: -7px;
    top: -5px;
    z-index: 1;

    &:disabled {
        color: darken($baseTextLight, 10%);
    }
}

.unapplyIcon {
    font-size: 1.3rem;
    opacity: 0.5;
    transition: color $uiTransitionDuration $uiTransitionFunction;

    &:hover {
        color: $errorLight;
        opacity: 1;
    }
}

.loadMoreWrap {
    display: flex;
    justify-content: center;
    padding: 1em;
}

.loadMore {
    color: $baseBackground;
    padding-left: 8px;
}

@include breakpoint(max-width 50em) {
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block !important;
    }

    thead tr {
        left: -9999px;
        position: absolute;
        top: -9999px;
    }

    tr {
        height: auto !important;
    }

    td {
        border-bottom: 1px solid darken($primaryLight, 5%) !important;
        min-height: 3em;
        padding-left: 40% !important;
        position: relative !important;
    }

    .mobileHeading {
        align-items: center;
        background-color: $primaryMain;
        color: $baseBackground;
        display: flex;
        font-weight: bold;
        padding: 1em;

        td::before {
            font-weight: bold;
        }
    }

    td::before {
        left: 6px;
        overflow: hidden;
        padding: 0.5em;
        position: absolute;
        text-overflow: ellipsis;
        top: calc(50% - 1.25em);
        white-space: nowrap;
        width: 40%;
    }

    .tableCell[data-heading]::before {
        content: attr(data-heading);
    }

    .tableHeadPlaceholder {
        display: none !important;
    }
}
