@import "../../../../__assets__/styles/sassResources";

.appPage {
    @include scrollingShadows;

    background-color: $primaryLight;
    min-height: 100%;
    transition: margin-left $uiTransitionDuration $uiTransitionFunction;
}

.appContent {
    padding: 0.5em;
}

.fullHeight {
    height: 100%;
}

.narrow {
    margin-left: $drawerWidth;
}

.errorSnack {
    background-color: $errorMain;
    padding: 0.35em 1em;
}

.snackbarContent {
    align-items: center;
    display: flex;
    margin: 0;
}

.snackbarIcon {
    font-size: 1.3em;
    margin-right: 0.25em;
}
