@import "../../../../__assets__/styles/sassResources";

.background {
    background-color: $primaryMain;
    background-image: url("../../../../__assets__/images/logos/coEventIconBackground.svg");
    background-position: center;
    background-size: 100px;
    height: 100%;
    padding: 65px 0;
}

.progressWrap {
    width: 100%;
}

.progress {
    color: $secondaryMain;
    display: block;
    margin: 0 auto;
}

.loginWindow {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 320px;
}

.panel {
    padding: 1.25em;
    width: 100%;
}

.lowEm {
    background-color: darken($primaryLight, 2.5%);
    padding-bottom: calc(1.25em - 5px);
}

.loginButton {
    font-weight: 400;
    width: 100%;

    &.google {
        @include button($google, $baseBackground);
    }

    &.microsoft {
        @include button($microsoft, $baseBackground);
    }
}

.loginButton:first-of-type {
    margin-bottom: 0.75em;
}

.socialIcon {
    font-size: 1.1em;
    margin-right: 0.5em;
}

.progressPlaceholder {
    height: 5px;
    width: 100%;
}

.progress {
    background-color: darken($primaryLight, 2.5%);
    width: 100%;
}

.splash {
    background-color: $primaryMain;
}

.splashHeader {
    padding: 1em;
}

.logo {
    display: block;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    max-height: 30px;
}

.valueProp {
    color: lighten($primaryMid, 25%);
    font-size: 1.3em;
    font-weight: 200;
    margin-bottom: 2em;
    padding: 0;
    text-align: center;
}

.signInHeading {
    color: $primaryMain;
    font-size: 0.85em;
    margin-bottom: 1em;
    margin-top: 0;
}

.linkInstructionWrap {
    display: flex;
}

.linkInstructionText {
    font-size: 0.95em;
    margin-left: 0.25em;
}

.textField {
    margin-bottom: 0;
    margin-top: 0.5em;
    width: 100%;
}

.input {
    padding-right: 0.25em;
}

.fullWidth {
    width: 100%;
}

.hands {
    max-height: 200px;
}
