@import "../../../../__assets__/styles/sassResources";

.hide {
    display: none;
}

.menuList {
    padding-top: 0;
}

.appTitle {
    font-size: 1.2em;
    margin: 0 0 0 0.1em;
}

.backHeader {
    align-items: center;
    border-bottom: 1px solid lighten($primaryMain, 5%);
    display: flex;
    height: 5em;
    justify-content: flex-start;
    min-height: 3.5em;
    z-index: 1;
}

.account {
    color: #fff;
    display: flex;
    flex: 1 1 auto;
    font-size: 0.75em;
    justify-content: flex-start;

    .label {
        margin-left: 0.3em;
    }

    .icon {
        margin-left: -0.25em;
    }
}

.menu {
    color: #fff;
    margin-right: 0.25em;
}

.floatingMenuButton {
    bottom: 0;
    color: #fff;
    margin: 1em;
    position: fixed;
    z-index: 1;
}

.displayName {
    align-items: center;
    display: flex;
    margin-left: 0.75em;
    transition: color $uiTransitionDuration $uiTransitionFunction;
}

.account:hover {
    background-color: $primaryMain;

    .displayName {
        color: darken($primaryLight, 7%);
    }
}

.name {
    background-color: $primaryLight;
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
    cursor: default;
    font-size: 0.8em;
    font-weight: 400;
    padding: 0.7em 1em;

    &:focus,
    &:hover {
        background-color: $primaryLight;
    }
}

.menuListItem {
    @include dropdownListItem;
}

.emptyListItem {
    padding: 1em;
}

.emptyListItemContent {
    height: 24px;
    width: 100%;
}

.emptyProgress {
    background-color: lighten($primaryMain, 5%);
    border-radius: 5px;
    height: 100%;
}

.emptyProgressBar {
    background-color: lighten($primaryMain, 7%);
}

.progress {
    margin-left: 0.5em;
}

.signUp {
    @include button($secondaryMain, $baseBackground);
}

.drawer {
    background-color: $primaryMain;
    position: relative;
    width: $drawerWidth;
    z-index: 1;
}

.paper {
    background-color: $primaryMain;
    overflow-y: auto;
    transition-duration: $uiTransitionDuration !important;
    transition-timing-function: $uiTransitionFunction !important;
    width: $drawerWidth;
}

.leftContainer {
    align-items: center;
    display: flex;
    flex: 1 0 auto;
}

.iconButton {
    border-color: #fff;
    color: #fff;

    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }
}

.list {
    padding-top: 1em;
    z-index: 1;
}

.listItem {
    color: $baseBackground;
    padding: 0.8em 1em;

    &.active {
        background-color: $primaryMid;
        font-weight: 600;
    }
}

.listItemIcon {
    color: inherit;
    margin-right: 0.35em;
}

.listItemText {
    color: inherit;
    padding-left: 0;
}

.logoWrap {
    border-top: 1px solid lighten($primaryMain, 5%);
    bottom: 0;
    height: 3.5em;
    padding: 1em;
    position: absolute;
    width: 100%;
    z-index: 0;
}

.logo {
    margin-bottom: -1px;
    width: 90px;
}

.copy {
    color: $baseBackground;
    font-size: 0.8em;
    position: absolute;
    right: 1.2em;
    top: 1.4em;
}
