@import "../../../../__assets__/styles/sassResources";

$avatarSize: 2.25rem;

.circle {
    border: 2px solid;
    height: $avatarSize;
    margin: -0.3em;
    width: $avatarSize;
}

.initials {
    color: $baseBackground;
    font-size: calc(#{$avatarSize} / 2.25);
    font-weight: 400;
    text-transform: uppercase;
}
