@import "../../../../__assets__/styles/sassResources";

$avatarSize: 2.25rem;

.circle {
    height: $avatarSize;
    width: $avatarSize;
}

.initials {
    color: $primaryMain;
    font-size: calc(#{$avatarSize} / 2.25);
    font-weight: 600;
    text-transform: uppercase;
}
